/* src/Carousel.css */
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
  }
  
  .carousel-image {
    min-width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .carousel-image.active {
    opacity: 1;
  }
  
  .caption {
    position: absolute;
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 4s ease-in-out;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caption button {
    margin-top: 20px;
  }
  
  .caption.fade-in {
    opacity: 1;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 100;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  