.foot {
    background-color: #0061AF;
    padding: 20px;
    text-align: center;
}

.content {
    background-color: #0061AF;
    display: grid;
}

.foot h4 {
    color: #ffffff;
    background-color: #0061AF;
    margin-bottom: 5px;
}

.hours h6 {
    color: #ffffff;
    background-color: #0061AF;
    text-align: center;
    text-decoration: underline;
}

.hours ul {
    margin-top: 15px;
    background-color: inherit;
}

.foot li {
    list-style: none;
    background-color: #0061AF;
    color: white;
}

.contact {
    background-color: #0061AF;
    align-items: center;
}

.white-wi {
    background-color: #0061AF;
    margin: 20px 20px 0px 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.white-wi img {
    background-color: #0061AF;
    max-width: 300px;
}

.social {
    margin: 10px 20px;
    background-color: #0061AF;
    align-items: center;
}

.social a {
    background-color: #0061AF;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

.social a:hover {
    text-decoration: underline;
}

.social .linkedin, .social .phone {
    margin-right: 15px;
}

.linkedin img {
    background-color: #0061AF;
    max-width: 30px;
    vertical-align: middle;
}

.hours {
    display: flex;
    flex-direction: column;
    background-color: #0061AF;
    margin: 20px;
}

.location {
    background-color: #0061AF;
    margin: 20px;
}

.google-map {
    background-color: #0061AF;
    text-decoration: none;
    color: #ffffff;
}

.google-map:hover {
    text-decoration: underline;
}

.copyright {
    margin: 20px;
    background-color: #0061AF;
}

.copyright h6 {
    color: #ffffff;
    background-color: #0061AF;
    margin-top: 5px;
    text-align: center;
}

@media (min-width: 922px) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "contact hours location"
    }

    .contact {
        grid-area: contact;
    }

    .hours {
        grid-area: hours;
    }

    .location {
        grid-area: location;
    }

    .social {
        grid-area: social;
    }
}