* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}

img {
  display: flex;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 3em;
  color: #0061AF;
  text-align: center;
  margin: 20px 20px 10px 20px;
}

h2 {
  font-family: 'Times New Roman';
  font-size: 2em;
}

h4 {
  font-family: 'Times New Roman';
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-family: 'Times New Roman';
  font-size: 0.8em;
  font-weight: normal;
}

button {
  border-radius: 50px;
  padding: 10px 20px;
  border-width: 0;
  font-family: 'Times New Roman';
  font-size: 1em;
  justify-self: center;
  align-self: center;
}

p, li, a {
  font-family: 'Times New Roman';
  font-size: 1em;
}